</div>
</div>
</div>
</article>



<footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <ul class="list-inline text-center">
            </li>
            <li class="list-inline-item">
              <a href="https://github.com/jlrg1992" target="__blank">Github</a>
            </li>
          </ul>
          <p class="copyright text-muted">Jorge L. Rangel García 2019 | <a href="aviso-legal.html">Aviso legal</a> </p>
        </div>
      </div>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="js/clean-blog.js"></script>

</body>

</html>
